<div class="container">
  <nav class="navbar navbar-default">
    <a class="btn btn-warning navbar-btn" href="#">Reset</a>
    <a class="btn btn-primary navbar-btn" [routerLink]="['Login']">Login page</a>
    <a class="btn btn-primary navbar-btn" [routerLink]="['Content']">Chart & Content page</a>
    <a class="btn btn-primary navbar-btn" [routerLink]="['Chart']">Chart-only page</a>
  </nav>
  <div class="h2 bg-danger">{{model.lasterror}}</div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
